<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <runtime>
  <!--指定公共语言运行时是否运行服务器垃圾回收-->
    <gcServer enabled="True" />
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">     
        <probing privatePath="PUBLIC.NET;PUBLIC;APPLY"/> 
    </assemblyBinding>
  </runtime>
</configuration>
