<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>

  <!--数据库服务：IP，端口号，实例名-->
  <appSettings>
  <add key="HOST" value="192.168.33.95"/>
  <add key="PORT" value="1521"/>
  <add key="ORACLE_SID" value="TESTBASE"/>


    <!--Oracle过程名对照-->
    <add key="Get_Pat_Info" value="Pkg_ZyEdit.Get_Pat_Info" />
    <add key="Get_Distype" value="Pkg_ZyEdit.Get_Distype" />
    <add key="Get_Zxtype" value="Pkg_ZyEdit.Get_Zxtype" />
    <add key="Get_Diaglist" value="Pkg_ZyEdit.Get_Diaglist" />
    <add key="Get_Fjlist" value="Pkg_ZyEdit.Get_Fjlist" />
    <add key="Get_Fjitems" value="Pkg_ZyEdit.Get_Fjitems" />
    <add key="Get_Adddis" value="Pkg_ZyEdit.Get_Adddis" />
    <add key="Get_Addzf" value="Pkg_ZyEdit.Get_Addzf" />
    <add key="Get_Additems" value="Pkg_ZyEdit.Get_Additems" />
    <add key="Get_JfType" value="Pkg_ZyEdit.Get_JfType" />
    <add key="Get_Usetype" value="Pkg_ZyEdit.Get_Usetype" />
    <add key="Get_Usetime" value="Pkg_ZyEdit.Get_Usetime" />
    <add key="Get_Drugdept" value="Pkg_ZyEdit.Get_Drugdept" />
    <add key="Get_Drugstock" value="Pkg_ZyEdit.Get_Drugstock" />
    <add key="Get_Jzitems" value="Pkg_ZyEdit.Get_Jzitems" />
    <add key="Save_Zyedit" value="Pkg_ZyEdit.Save_Zyedit" />
    <add key="Load_Zyedit" value="Pkg_ZyEdit.Load_Zyedit" />
    <add key="Load_Zyinfo" value="Pkg_ZyEdit.Load_Zyinfo" />
    <add key="Get_Diagid" value="Pkg_ZyEdit.Get_Diagid" />
    <add key="Get_Drugitems" value="Pkg_ZyEdit.Get_Drugitems" />
    <add key="Get_Hisdrug" value="Pkg_ZyEdit.Get_Hisdrug" />
    <add key="Save_Drugitem" value="Pkg_ZyEdit.Save_Drugitem" />
    <add key="Set_Autodrug" value="Pkg_ZyEdit.Set_Autodrug" />
    <add key="Get_Fjall" value="Pkg_ZyEdit.Get_Fjall" />
    <add key="Save_Fjitem" value="Pkg_ZyEdit.Save_Fjitem" />
    <add key="Set_Distype" value="Pkg_ZyEdit.Set_Distype" />
    <add key="Set_Zxtype" value="Pkg_ZyEdit.Set_Zxtype" />
    <add key="Set_Zxtofj" value="Pkg_ZyEdit.Set_Zxtofj" />
    <add key="Set_Adddis" value="Pkg_ZyEdit.Set_Adddis" />
    <add key="Set_Addzf" value="Pkg_ZyEdit.Set_Addzf" />
    <add key="Set_Zftozy" value="Pkg_ZyEdit.Set_Zftozy" />
    <add key="Del_Zydata" value="Pkg_ZyEdit.Del_Zydata" />
    <add key="Get_Now_Time" value="Pkg_ZyEdit.Get_Now_Time" />

    <!--是否输出错误日志-->
    <add key="SaveErrorlog" value="1" />
    <!--是否输出数据日志-->
    <add key="SaveDatalog" value="1" />
    
  </appSettings>
  
</configuration>
